body {
    max-width: 1100px;
    margin: 0 auto;
    background-color: aquamarine;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 9999px;
    background: red;
}

img {
    width: 150px;
}