body {
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    transform: background 0.3s ease;
    scroll-behavior: smooth;
    
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 9999px;
    background: rgb(255, 0, 0);
}


.button-1 {
    font-size: 20px;
    filter: drop-shadow(0 0 6px violet); 
    border: none;
    fill: transparent;
    background-color: white;
    border-radius: 20px;
}

.button-2 {
    font-size: 20px;
    filter: drop-shadow(0 0 6px violet); 
    border: none;
    fill: transparent;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}
.main-button {
    height: 100px;
    width: 1080px;
    font-size: 50px;
    color: violet;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 6px violet);
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
    border-radius: 99999px;
}

.apple {
    background-image: url(apple.svg);
    width: 135px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    filter: drop-shadow(0 0 8px violet);   
     
}

.apples {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: -1;
}

.shadow {
    filter: drop-shadow(0 0 10px   chocolate); 
    width: 100px;
    background-color: violet
}

.blue-bg {
    background-color: blueviolet;
}

.buttons {
    position: fixed;
    margin-top: 150px;
}
