body {
    max-width: 1100px;
    margin: 0 auto;
    background-color: aquamarine;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 9999px;
    background: red;
}

.apple {
    width: 150px;
    color: white;
}

.apples {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    flex-wrap: wrap;
}
